<ul>
    <li class="level1">
        <a href="/home/index">Startseite</a>
    </li>

   
    <li class="level1">
        <a href="/items/index">Items</a>
    </li>

      <li class="level2">
            <a href="/items/consumables">Consumables</a>
      </li>
    
      <li class="level2">
            <a href="/items/trinkets">Trinkets</a>
      </li>

    
    <li class="level1">
        <a href="/seeds/index">Seeds</a>
    </li>
    
    
    <li class="level1">
        <a href="/account/index">Account</a>
    </li>
    
    <li class="level2">
        <a href="/account/Login">Login</a>
    </li>
            <li class="level2">
                <a href="/account/Register">Register</a>
            </li>
        
    
    
</ul>